@font-face {
    font-family: "Raleway";
    src: url("../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

.fade-in-text {
    opacity: 0;
    animation: fade-in 1.5s ease-in forwards;
}

@keyframes fade-in{
    to{
        opacity: 1;
    }  
}
@keyframes fade-out{
    to{
        opacity: 0;
    }
}
.fade-down {
    transform: translateY(-50%);
    opacity: 0;
    animation: fade-up 1s ease-in forwards;
}

@keyframes fade-down{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.fade-up {
    transform: translateY(50%);
    opacity: 0;
    animation: fade-up 1s ease-in forwards;
}

@keyframes fade-up{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

body, html{
    margin: 0;
    padding: 0;
}

.diagonal-split {
    width: 100%;
    height: 100vh;
    display: flex;
    background: rgb(0, 0, 0);
}
.left-side,.right-side {
    flex: 1;
}
.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    clip-path: polygon(100% 0, 70% 100%, 0 100%, 0 0);
}
.left-side p{
    color: rgb(0, 0, 0);
    font-family: "Raleway";
    font-size: 40px;
    justify-content: center;
    align-self: center;
    display: flex;
    margin:0;
    margin-right: 80px;
}
.right-side {
    background-color: #000000;
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 10% 0);
    margin-left: -1px;
}

.right-content{
    justify-content: center;
    align-self: center;
    display: flex;
    margin-top: 150px;
    position: relative;
}

.navbar1{
    background-color: black;
    height: 66px;
    width: 100%;
    display: flex;
    font-size: 30px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.navbar1 p{
    color: white;
    font-family: "Raleway";
    margin-right: 20px;
}
.navbar1 a{
    color: white;
    font-family: "Raleway";
    margin-right: 20px;
    text-decoration: none;
}

.navbar2{
    background: linear-gradient(to right, #cecbcb 5%, #000000 50%);
    height: 66px;
    width: 100%;
    display: flex;
    font-size: 30px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.navbar2 p{
    color: white;
    font-family: "Raleway";
    margin-right: 20px;
}
.navbar2 a{
    color: white;
    font-family: "Raleway";
    margin-right: 20px;
    text-decoration: none;
}

.socials {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    margin-right: 100px;
}.socials img {
    margin: 10px;
}
.email-copy{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.tooltip {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.email-copy:hover .tooltip {
    visibility: visible;
}

.home-footer{
    height: 50px;
    display: flex;
    color: #fff;
    background-color: #212121;
    align-items: center;
    justify-content: left;
    font-family: "Raleway";
    padding-left: 20px;
}

.content-container { 
    display: flex;
    justify-content: center;
    align-items: top;
    font-family: "Raleway";
}

.about-container{
    margin-top: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 250px;
    height: 80px;
    color: rgb(0, 0, 0); 
    font-family: "Raleway";
    border-style: solid;
    border-width: 2px;
    border-color: black;
    font-size: 40px;
    margin-top: 80px;
}

.gradient{
    background: radial-gradient(circle at center, #fdfdfd 5%, #cecbcb 50%);
}
.row {
    font-family: "Raleway";
    flex-direction: column;
    text-align: center;
}

.row-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    gap: 25%;
    margin: 20px;
}

.resume {
    font-family: "Raleway";
    justify-content: center;
    align-items: center;
    display: flex;
    height:50px;
    background-color: rgb(180, 180, 180);
}

.skills{
    font-family: "Raleway";
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap:100px;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 230px;
}

.skill-item p{
   margin-top:auto;
}


.projects{
    font-family: "Raleway";
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap:200px;
}
.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hover-button {
    opacity: 0;
}

.card:hover .hover-button {
    animation: fade-in 0.5s ease-in forwards;
}

.modal-img{
    display: flex;
    justify-content: center;
    align-self: center;
}