@font-face {
    font-family: "Raleway";
    src: url("../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

body, html{
    margin: 0;
    padding: 0;
    overflow:hidden;
}

.diagonal-split {
    width: 100%;
    height: 100vh;
    display: flex;
    background: rgb(0, 0, 0);
}
.left-side,.right-side {
    flex: 1;
}
.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    clip-path: polygon(100% 0, 70% 100%, 0 100%, 0 0);
}
.left-side p{
    color: rgb(0, 0, 0);
    font-family: "Raleway";
    font-size: 40px;
    justify-content: center;
    align-self: center;
    display: flex;
    margin:0;
    margin-right: 80px;
}
.right-side {
    background-color: #000000;
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 10% 0);
    margin-left: -1px;
}

.navbar{
    background-color: black;
    height: 66px;
    width: 100%;
    display: flex;
    font-size: 30px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.navbar p{
    color: white;
    font-family: "Raleway";
    margin-right: 20px;
}
.navbar a{
    color: white;
    font-family: "Raleway";
    margin-right: 20px;
    text-decoration: none;
}

.socials {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    margin-right: 100px;
}.socials img {
    margin: 10px;
}
